.detail-page {
  width: 1000px;
  color: #3e3e3e;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  padding: 20px;
  position: relative;
  margin: 0 auto;
}

.book-section {
  display: flex;
  margin-bottom: 20px;
}

.book-section .book-image {
  width: 350px;
  height: auto;
  margin-right: 40px;
}

.book-section .book-info {
  max-width: 600px;
}

.book-section .book-title {
  margin-top: 20px;
  font-size: 40px;
}

.book-section .book-author {
  font-size: 16px;
  margin: 30px 0;
  color: #8d8d8d;
}

.book-section .book-decription {
  text-align: left;
  padding: 5px;
  height: 30vh;
  overflow-y: scroll;
  font-size: 16px;
  margin: 30px 0;
}

.book-section .buy-button {
  position: absolute;
  text-decoration-line: none;
  background-color: #f15f5f;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 30px 0;
  border-radius: 10px;
  bottom: 7%;
  right: 14px;
}

.book-section .price {
  right: 14px;
  bottom: 7%;
  position: absolute;
  font-size: 18px;
  color: #f15f5f;
}

.review-section {
  width: 100%;
  max-width: 800px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.review {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

.review-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: 10px;
}

.review-user {
  font-weight: bold;
}

.review-likes {
  color: #f15f5f;
}

.review-content {
  font-size: 16px;
  white-space: pre-wrap;
}

.bookMark img {
  display: block;
  width: 50px;
}
