.review-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #efefef;
}

.review-container h1 {
  margin: 10px 0 10px 30px;
  font-weight: bold;
  font-size: 20px;
}

.review-container hr {
  border: rgb(197, 197, 197) 1px solid;
}

.review-list {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 100px;
  padding-right: 10px;
}

.review-item {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.review-input {
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  position: fixed; /* 채팅창 고정 */
  bottom: 0; /* 아래에 고정 */
  background-color: white; /* 배경색 설정 */
  padding-top: 10px;
}

.review-input textarea {
  margin: 0 30px;
  font-size: 20px;
  width: 1000px;
  height: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  resize: none;
}

.review-input input {
  background-color: #bfc4c9;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  width: 200px;
}

.review-input button {
  font-size: 25px;
  height: 70%;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 15px;
  align-self: flex-start;
  padding: 10px 15px;
  background-color: #bfc4c9;
  color: white;
  border: none;
  cursor: pointer;
  width: 200px;
}
