/* 상위 3명, 배경 */
.top-users {
  width: 100%;
  height: 44vh;
  border-radius: 0 0 40px 40px;
  background-color: #5D5E61;
  display: flex;
  position: fixed;
  top: 70px;
}
.top-users::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 0 0 40px 40px;
  background-image: url('../assets/rangking/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.6;
  filter: blur(3px);
}

/* 회색 사각형 */
.top-users .gray-box {
  width: 100%;
  height: 43%;
  border-radius: 10px 10px 0 0;
  position: absolute;
  top: 0;
  background-color: #DEE2E1;
   /* rgba(0,0,0, 0.2); */
}

/* 1, 2, 3등 */
.top-users .top-user {
  background-color: #f9f9f9;
  width: 100%;
  height: 300px;
  /* display: flex; */
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.top-users .top-user.rank-1,
.top-users .top-user.rank-2,
.top-users .top-user.rank-3 {
  width: 20%;
  height: 75%;
  border-radius: 10px;
  position: absolute;
}
.top-users .top-user.rank-1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-users .top-user.rank-2 {
  top: 50%;
  transform: translateY(-50%);
  left: 13%;
}
.top-users .top-user.rank-3 {
  top: 50%;
  transform: translateY(-50%);
  right: 13%;
}

/* 트로피 */
.top-users .trophy-icon {
  width: 88px;
  height: 83px;
  margin: 8% 0;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
}
.top-users .trophy-icon img {
  width: 100%;
  height: 100%;
}

/* 사용자 프로필 이미지 */
.top-users .rank-icon {
  margin-top: 30px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%);
}
.top-users .rank-1 .rank-icon img,
.top-users .rank-2 .rank-icon img,
.top-users .rank-3 .rank-icon img {
  width: 60px;
  height: 60px;
  border-radius: 20%;
}

/* 사용자 정보 (이름, 레벨) */
.top-users .user-info {
  display: flex;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
}
/* 사용자 이름 */
.top-users .rank-1 .user-name,
.top-users .rank-2 .user-name,
.top-users .rank-3 .user-name {
  font-size: 25px;
  font-weight: 700;
}
/* 사용자 레벨 */
.top-users .user-level {
  font-size: 14px;
  color: #9e9e9e;
  margin: 10px 0 0 15px;
}