/* 배경 */
.login_back {
  color: #3e3e3e;
  background: linear-gradient(135deg, #1b8af1, #b58ded);
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 하얀 박스 */
.login_back .login {
  background: #f9f9f9;
  width: 400px;
  height: 60%;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.login_back .login h4 {
  font-family: "establishRetrosansOTF", sans-serif;
  font-size: 350%;
  margin-top: 5rem;
  margin-bottom: 3rem;
}
.login_back .login .social_login {
  /* border: 1px solid red; */
  width: 80%;
  height: 10%;
  display: inline-block;
}
.login .social_login div {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  margin-bottom: 15px;
}

/* 시작하기 텍스트 */
.login .social_login div p {
  font-weight: 600;
  margin: auto 18%;
}
.login .social_login .naver p {
  color: #f9f9f9;
}
/* 박스 색깔 */
.login .social_login .google {
  border: 1px solid rgb(93, 94, 97, 0.4);
}
.login .social_login .naver {
  background-color: #2db400;
}
.login .social_login .kakao {
  background-color: #f9e000;
}
/* 로고 크기 */
.login .social_login img {
  width: 8%;
  height: 60%;
  margin: auto 5%;
}
