.main_page {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
}

/* 배경 */
.main_page .back {
  background-image: url('../assets/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 49%;
  position: absolute;
  top: 0;
}
/* 흐림 박스 */
.main_page .back .box {
  width: 38.5%;
  height: 57%;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 10%;
  box-shadow: 0 6px 20px -15px #000;
  border-width: 1px 1px 0 0;
  margin-top: 5%;
  margin-left: 4.5%;
  position: relative;
  overflow: hidden;
}

/* 인트로 */
.intro {
  padding-top: 4.5%;
  text-align: left;
  width: 90%;
  height: 400px;
  max-width: 1200px;
  margin-top: 2%;
  margin-left: 10%;
  position: relative;
  z-index: 2;
}
.intro > h2 {
  font-family: 'establishRetrosansOTF', sans-serif;
  font-size: 450%;
  font-weight: 800;
  color: #dee2e1;
  text-shadow: 8px 8px 15px #3e3e3e, -1px -1px 2px #f9f9f9;
  margin-left: -77%;
}
.intro > p {
  color: #dee2e1;
  font-size: 90%;
  font-weight: 100;
  font-style: italic;
  opacity: 0.8;
  margin-top: -2%;
}

/* Bookfinder 링크 */
.bookfinder-link {
  margin-left: 22%;
  margin-top: 8.5%;
  position: absolute;
}
.bookfinder-link a {
  color: #f0ffff;
  font-style: italic;
  text-decoration: underline;
  font-size: 65%;
  font-weight: 100;
}
.bookfinder-link a:hover {
  color: #00ffff;
}

/* 리뷰 많은 책 */
.main_page .section-1 {
  padding-top: 5%;
  margin-top: 2%;
}
/* 좋아요 많은 많은 책 */
.main_page .section-1,
.main_page .section-2 {
  width: 100%;
  background-color: #dee2e1;
  padding-bottom: 8%;
  position: relative;
}
.main_page .section-1 h4,
.main_page .section-2 h4 {
  font-size: 130%;
  font-weight: 700;
  margin-left: 5%;
  margin-bottom: 2%;
}
.book-list {
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  flex-wrap: nowrap;
  gap: 3%;
  overflow-x: auto;
  scrollbar-width: none;
}
.book-list::-webkit-scrollbar {
  display: none;
}
.book-list:hover {
  overflow-x: scroll;
}
.book-item {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto;
}
.book-image {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}
.book-info {
  text-align: center;
}
.book-title {
  font-size: 85%;
  font-weight: bold;
  height: 50%;
  margin-bottom: 5%;
  overflow: hidden;
  /* ... 효과 */
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.book-author,
.book-price {
  font-size: 70%;
  margin-bottom: 1%;
}
.no-books {
  font-size: 16px;
  color: #888;
}

/* 스크롤 버튼 */
.scroll-buttons {
  display: flex;
  align-items: center;
  margin: 0 4%;
}
.scroll-buttons .scroll-button {
  cursor: pointer;
  font-size: 36px;
  color: #9e9e9e;
  user-select: none;
  transition: color 0.3s ease;
}
.scroll-button:hover {
  color: #3e3e3e;
}


/* 감정 입력창 */
.emotion-form {
  margin-top: 4%;
  float: left;
  position: relative;
  width: 33%; /* .emotion-form의 너비 설정 */
  height: auto; /* 높이를 자동으로 설정 */
  display: flex;
}
.emotion-form input {
  padding: 5%;
  border-radius: 9px;
  border: none;
  width: 85%;
  height: 100%;
  font-size: 100%;
  color: #f9f9f9;
  background-color: #3e3e3e;
  z-index: 1; /* z-index 설정으로 점이 input 아래에 위치하지 않도록 */
}
.emotion-form .dot {
  content: '';
  position: absolute;
  top: 0;
  left: -2%; /* 왼쪽 상단에서 시작 */
  width: 1%; /* 점의 너비 */
  height: 1%; /* 점의 높이 */
  border-radius: 50%; /* 점을 둥글게 */
  transition: all 300ms ease;
  display: block;
  animation: moveAroundInput 4s infinite linear; /* 애니메이션 추가 */
  z-index: 2; /* 점을 input 위에 위치하도록 설정 */
}
@keyframes moveAroundInput {
  0% { top: 0; left: 0; }
  25% { top: 0; left: 85%; } /* 상단 오른쪽 */
  50% { top: 100%; left: 85%; } /* 하단 오른쪽 */
  75% { top: 100%; left: 0; } /* 하단 왼쪽 */
  100% { top: 0; left: 0; } /* 상단 왼쪽 */
}
.emotion-form .dot:after {
  content: '';
  position: absolute;
  left: calc(50% - .4em);
  top: -.4em;
  height: 1%;
  width: 1%;
  background: #4959A6;
  border-radius: 1em;
  border: .25em solid #f9f9f9;
  box-shadow: 0 0 .7em #f9f9f9,
        0 0 2em #4959A6;
}


/* 추천받기 */
.emotion-form button {
  width: 13%;
  height: 100%;
  border-radius: 10px;
  border: none;
  background-color: #007bff;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.emotion-form button:hover {
  background-color: #0056b3;
}
.emotion-form button .material-icons {
  color: #f9f9f9;
}



/* 반응형 디자인 */
/* 노트북 & 테블릿 가로 (해상도 1024px ~ 1279px)*/ 
@media all and (min-width:1024px) and (max-width:1279px) {
  .main_page .back .box {
    height: 53%;
  }
  .main_page .intro .title {
    font-size: 60px;
    margin-left: -79%;
  }
  .main_page .intro > p {
    font-size: 12px;
  }
  .emotion-form {
    margin-left: -15px;
  }
  .emotion-form button span {
    font-size: 24px;
  }
}
/* 테블릿 가로 (해상도 768px ~ 1023px)*/ 
@media all and (min-width:768px) and (max-width:1023px) { 
  .main_page .back .box {
    height: 40%;
  }
  .main_page .intro .title {
    font-size: 50px;
    margin-left: -79%;
  }
  .main_page .intro > p {
    font-size: 10px;
  }
  .emotion-form {
    margin-left: -15px;
  }
  .emotion-form input {
    font-size: 10px;
  }
  .emotion-form button span {
    font-size: 12px;
  }
} 
/* 모바일 가로 & 테블릿 세로 (해상도 480px ~ 767px)*/ 
@media all and (min-width:480px) and (max-width:767px) {
  .main_page .back .box {
    height: 40%;
  }
  .main_page .intro .title {
    font-size: 40px;
    margin-left: -75%;
  }
  .main_page .intro > p {
    font-size: 8px;
  }
  .emotion-form {
    margin-left: -15px;
  }
  .emotion-form input {
    font-size: 8px;
  }
  .emotion-form button span {
    font-size: 10px;
  }
} 

/* 모바일 세로 (해상도 ~ 479px)*/ 
@media all and (max-width:479px) {
  .main_page .back .box {
    height: 40%;
  }
  .main_page .intro .title {
    font-size: 30px;
    margin-left: -75%;
  }
  .main_page .intro > p {
    font-size: 8px;
  }
  .emotion-form {
    margin-left: -15px;
  }
  .emotion-form input {
    font-size: 8px;
  }
  .emotion-form button span {
    font-size: 10px;
  }
}