.mypages {
  padding: 20px;
  margin-top: 0; /* 헤더와의 빈 공간 제거 */
}

.profile-section {
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.profile-image {
  border-radius: 50%;
  width: 25%; /* 프로필 이미지 크기 */
  height: 25%; /* 프로필 이미지 크기 */
  margin-right: 80px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-details h2 {
  font-size: 100px; /* 글자 크기 */
  margin: 0 60px 30px 0;
}

.level-xp {
  display: flex;
  align-items: center;
}

.level {
  font-size: 30px; /* 글자 크기 */
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0;
}

.xp {
  font-size: 40px; /* 글자 크기 */
  margin: 10px 0 20px 0;
  color: #777;
}

.edit-profile {
  padding: 10px 20px;
  border: 5px solid black;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  font-size: 20px; /* 글자 크기 */
}

.reviews-section {
  margin-top: 20px;
}

.review-card {
  display: flex;
  align-items: center;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}

.book-cover {
  width: 10%; /* 이미지 크기 */
  margin-right: 20px;
}

.review-details {
  display: flex;
  flex-direction: column;
  width: 100%; /* 부모 요소의 넓이를 설정 */
}

.review-title-rating {
  display: flex;
  justify-content: space-between;
  align-items: center; /* 수직 중앙 정렬 */
  width: 100%; /* 부모 요소의 넓이를 설정 */
}

.review-title {
  font-size: 20px; /* 글자 크기 */
  font-weight: bold;
}

.review-rating {
  font-size: 16px; /* 글자 크기 */
  color: #777;
  margin-left: auto; /* 자동 왼쪽 마진 추가 */
  margin-right: 30px;
}

.review-content {
  margin-top: 10px;
  font-size: 14px; /* 글자 크기 */
}
