/* 기존 인터페이스 어두운 색으로 가림 */
.recommend_back {
  background: rgb(62, 62, 62, 0.9);
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

/* 콘텐츠 */
.recommend {
  height: 80%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* 펼쳐진 책 이미지 */
.recommend .image {
  margin-top: 30px;
  width: 100%;
}

/* 감정 책갈피 */
.recommend .recommend_book {
  position: absolute;
  top: 10%;
  right: -10%;
}
.recommend .recommend_book .book_label {
  width: 180px;
  height: 150px;
  position: relative;
}
.recommend .recommend_book .book_label img {
  width: 100%;
  height: 100%;
  transform: rotate(5deg);
}
.recommend .recommend_book .book_label p {
  color: #3e3e3e;
  font-size: 22px;
  font-weight: 700;
  transform: rotate(2deg);
  cursor: pointer;
  position: absolute;
  top: 43%;
  left: 30%;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.recommend .recommend_book .book_label p:hover {
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* 왼쪽 페이지 */
.recommend .left {
  width: 400px;
  height: 580px;
  position: absolute;
  top: 5%;
  left: 3%;
}
/* 책 표지 */
.recommend .left .book_cover {
  width: 266px;
  height: 400px;
  position: absolute;
  top: 10%;
  left: 20%;
}
.recommend .left .book_cover img {
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
/* 뒤로가기 */
.recommend .left .material-icons {
  color: #3e3e3e;
  cursor: pointer;
  position: absolute;
  top: 47%;
  left: 6%;
}
.recommend .left .material-icons:hover {
  border-radius: 5px;
  background-color: rgb(62, 62, 62, 0.1);
}
/* 책 상세 페이지 버튼 */
.recommend .left button {
  width: 270px;
  height: 40px;
  padding: 10px 25px;
  border: 1px solid #000;
  font-weight: 500;
  background: transparent;
  background-color: #3e3e3e;
  color: #e2e2e2;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  position: absolute;
  bottom: 11%;
  left: 19%;
}
.recommend .left button:hover {
  background-color: #e2e2e2;
  color: #3e3e3e;
}

/* 오른쪽 페이지 */
.recommend .right {
  width: 370px;
  height: 580px;
  position: absolute;
  top: 5%;
  right: 3%;
}
/* 창 닫기 */
.recommend .right .close .material-icons {
  font-size: 110%;
  position: absolute;
  top: 6%;
  right: 14%;
  cursor: pointer;
  z-index: 10;
}
.recommend .right .close .material-icons:hover {
  border-radius: 5px;
  background-color: rgb(62, 62, 62, 0.2);
}
/* 앞으로 가기 */
.recommend .right .chevron_right .material-icons {
  color: #f9f9f9;
  cursor: pointer;
  position: absolute;
  top: 47%;
  right: 5%;
}
.recommend .right .chevron_right .material-icons:hover {
  border-radius: 5px;
  background-color: rgb(249, 249, 249, 0.2);
}
/* 리뷰 */

.recommend .right .main-review {
  width: 286px;
  height: 400px;
  border-radius: 10px;
  background-color: rgba(249, 249, 249, 0.7);
  padding: 18px;
  transform: rotate(-0.5deg);
  overflow-y: auto;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 10%;
  right: 20%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.recommend .right .main-review p {
  font-size: 14px;
  font-weight: 200;
  word-wrap: break-word;
}

.main-review-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 15px;
}

.main-review-profile-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-review-nickname {
  margin: 0;
  font-weight: bold;
  font-size: 18px;
}

.main-review-tag,
.main-review-likes {
  margin: 3px 0;
  font-size: 14px;
  color: #888;
}

.main-review-content {
  margin-top: 15px;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

/* 좋아요, 추천 버튼 */
.recommend .right .btns {
  width: 77%;
  height: 7%;
  display: flex;
  position: absolute;
  left: 3%;
  bottom: 11%;
}
/* 각 버튼 */
.recommend .right .btns .like,
.recommend .right .btns .new {
  width: 48%;
  height: 40px;
  padding: 10px 25px;
  font-weight: 500;
  background-color: #f9f9f9;
  color: #9e9e9e;
  border: none;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #9e9e9e, -5px -5px 10px #f9f9f9;
  cursor: pointer;
  transition: all 0.1s ease;
}

.new {
  font-size: 15px;
}

.recommend .right .btns .like {
  margin-right: 15px;
}
.recommend .right .btns .new {
  position: absolute;
  right: 0;
}
/* 각 버튼 속 아이콘 */
.recommend .right .btns .like .material-icons,
.recommend .right .btns .new .material-icons {
  color: #9e9e9e;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.recommend .right .btns .like .material-icons {
  left: 31%;
}
.recommend .right .btns .new .material-icons {
  right: 14%;
}
/* 마우스 효과 */
.recommend .right .btns .like:active,
.recommend .right .btns .new:active {
  color: #dee2e1;
  box-shadow: inset 5px 5px 10px #9e9e9e, inset -5px -5px 10px #f9f9f9;
}
.recommend .right .btns .like:active .material-icons,
.recommend .right .btns .new:active .material-icons {
  color: #dee2e1;
}
/* 클릭했을 때 */
.recommend .right .btns .like.active {
  color: #3e3e3e;
  box-shadow: inset 5px 5px 10px #9e9e9e, inset -5px -5px 10px #f9f9f9;
}
.recommend .right .btns .like.active .material-icons {
  color: #db4455;
}
/* 클릭했을 때 애니메이션 */
@keyframes particle {
  0% {
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: scale(0) translate(var(--x), var(--y));
  }
}
.particle {
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: #ff5252;
  border-radius: 50%;
  opacity: 0;
  animation: particle 1s ease-out forwards;
}
.like.active .particles {
  position: relative;
  display: inline-block;
}
