/* 배경 */
.signup_back {
  color: #3e3e3e;
  background: linear-gradient(135deg, #1b8af1, #b58ded);
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 하얀 박스 */
.signup_back .signup {
  background: #f9f9f9;
  width: 40%;
  height: 50%;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.signup_back .signup h4 {
  font-family: 'establishRetrosansOTF', sans-serif;
  font-size: 350%;
  margin-top: 5rem;
  margin-bottom: 5.5rem;
}
.signup_back .signup div .nicknameInput {
  font-size: 130%;
  background-color: #DEE2E1;
  box-shadow: inset 2px 2px 5px #5D5E61, inset -5px -5px 10px #f9f9f9;
  border: none;
  border-radius: 5px;
  width: 60%;
  padding: 2% 2%;
}
.signup_back .signup .nicknameBtn {
  color: #f9f9f9;
  font-weight: 700;
  background-color: #5D5E61;
  width: 60%;
  height: 10%;
  border: none;
  border-radius: 5px;
  margin-top: 2%;
  cursor: pointer;
}
.signup_back .signup .nicknameBtn:hover {
  background-color: #3e3e3e;
}


.login_back .login .social_login {
  /* border: 1px solid red; */
  width: 70%;
  height: 10%;
  margin-bottom: 20px;
  align-items: center;
  display: inline-block;
}
.login .social_login div {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  margin-bottom: 5%;
}