* {
  box-sizing: border-box;
}

.header-section {
  position: sticky; /*헤더 고정*/
  top: 0px; /* 도달했을때 고정시킬 위치 */
  text-align: center;
  margin: 0;
  padding: 0;
  z-index: 10; /*제일 뒤로 가야함*/
  background-color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100%;
  border-bottom: 1px solid #cdcdcd;
}

.logo {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #000000;
}

.menu {
  display: flex;
  align-items: center;
  width: 277px;
}

.menu-item {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.85);
  margin-right: 20px;
}

@media (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* 수직 정렬 추가 */
    padding: 20px 20px;
    width: 100%;
    border-bottom: 1px solid #cdcdcd;
  }

  .logo {
    font-size: 18px;
  }

  .search-book-title {
    font-size: 12px;
  }

  .search-book-author,
  .search-book-price,
  .search-book-publisher {
    font-size: 10px;
  }

  .buy-button {
    width: 25px;
    height: 25px;
  }
}
